{% extends "madex/base.html" %}
{% block content %}

<section class="href">
    <div class="container_block">
        <div class="href__main">
            <a href="index.html">Главная&nbsp;</a>
            <svg width="5" height="12" viewBox="0 0 5 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.992 0.48L1.92 12H0.96L4.032 0.48H4.992Z" fill="#3A312D"/>
            </svg>
            <a href="#">&nbsp;Мебель</a>
        </div>
        <div class="title">
            Мебель
        </div>
        <div class="text2">
            Мы заботимся не только о внешнем виде мебели, но и о вашем комфорте.<br>
            Каждая модель продумана до мелочей, чтобы сделать ваше пространство не только красивым, но и функциональным.
        </div>
    </div>
</section>
<sections class="kitchens_items">
    <div class="container_block">
        <div class="sort__kitchens_items furniture">
            <!--            Первая карточка-->
            <div class="kitchens">
                <img src="img/furniture/1.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Шкаф в прихожую
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
            <!--            Конец карточки-->
            <!--            2-->
            <div class="kitchens">
                <img src="img/furniture/2.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Современный шкаф для девочки
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
            <!--            end 2-->
            <div class="kitchens">
                <img src="img/furniture/3.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Современная мебель для гостиной
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="kitchens">
                <img src="img/furniture/4.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Классический шкаф из массива берёзы
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="kitchens">
                <img src="img/furniture/5.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Шкаф с раздвижными фасадами
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="kitchens">
                <img src="img/furniture/6.png" alt="kitchens">
                <a class="services__sections_button furniture__button" href="/kitchens.html">
                    <div class="furniture__button_text">
                        Современная мебель для ванных комнат
                    </div>
                    <div class="furniture__button_svg">
                        <svg width="351" height="32" viewBox="0 0 351 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M350.53 16.5303C350.823 16.2374 350.823 15.7626 350.53 15.4697L345.757 10.6967C345.464 10.4038 344.99 10.4038 344.697 10.6967C344.404 10.9896 344.404 11.4645 344.697 11.7574L348.939 16L344.697 20.2426C344.404 20.5355 344.404 21.0104 344.697 21.3033C344.99 21.5962 345.464 21.5962 345.757 21.3033L350.53 16.5303ZM0 16.75H350V15.25H0V16.75Z"
                                  fill="#3A312D"/>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</sections>
{% endblock %}