{% extends 'madex/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <section class="href">
        <div class="container_block">
            <div class="href__main">
                <a href={% url 'madex:main' %}>Главная&nbsp;</a>
                <svg width="5" height="12" viewBox="0 0 5 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.992 0.48L1.92 12H0.96L4.032 0.48H4.992Z" fill="#3A312D"/>
                </svg>
                <a href="{% url "madex:all_kitchens" %}">&nbsp;Кухни</a>
            </div>
            <div class="title">
                Кухни
            </div>
            <div class="text2">
                У нас вы найдете широкий ассортимент — от классики до современных трендов.<br>
                Наша команда профессионалов поможет подобрать идеальные решения, учитывая все ваши пожелания и стиль
                интерьера.
            </div>
        </div>
    </section>
    <sections class="sort">
        <div class="container_block">
            <div class="sort_button">
                <a class="href__sort_button" href="{% url "madex:all_kitchens" %}">все</a>
                <a class="href__sort_button" href="{% url  "madex:modern_kitchens" %}"> Современные кухни</a>
                <a class="href__sort_button" href="{% url "madex:classic_kitchens" %}">Классические кухни</a>
            </div>
        </div>
    </sections>
    <!--Секция карточек товара-->
    <sections class="kitchens_items">
        <div class="container_block">
            <div class="sort__kitchens_items">
                {% for kitchen in kitchens %}
                <div class="kitchens">
                    <img src="{{ kitchen.image|mymedia }}" alt="kitchens">
                    <a class="services__sections_button" href="{% url "madex:kitchen_detail" kitchen.pk %}">
                        {{ kitchen.title }}
                        <svg width="108" height="33" viewBox="0 0 108 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M107.707 17.2071C108.098 16.8166 108.098 16.1834 107.707 15.7929L101.343 9.42893C100.953 9.03841 100.319 9.03841 99.9289 9.42893C99.5384 9.81946 99.5384 10.4526 99.9289 10.8431L105.586 16.5L99.9289 22.1569C99.5384 22.5474 99.5384 23.1805 99.9289 23.5711C100.319 23.9616 100.953 23.9616 101.343 23.5711L107.707 17.2071ZM0 17.5L107 17.5V15.5L0 15.5L0 17.5Z"
                                fill="#3A312D"/>
                        </svg>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </sections>
    <!--Конец секции с карточками-->
    <!--footer-->
    <section class="form">
        <div class="form__title">
            Оставьте заявку для личной консультации
        </div>
        <div class="form1">
            <form action="https://webhook.site/3f8522b7-9cd0-4537-9858-110d8bc5cec0" method="post">
                <div class="input_info">
                    <label>
                        <input type="text" name="name" placeholder="Введите имя">
                    </label>
                    <label>
                        <input type="tel" name="phone" placeholder="Введите телефон">
                    </label>
                </div>
                <div>
                    <label>
                        <input class="name" type="text" name="name" placeholder="Введите комментарий">
                    </label>
                </div>
                <button class="name" type="submit">
                    СВЯЗАТЬСЯ
                </button>
            </form>
        </div>
    </section>
{% endblock %}